snippet s "snip"
snippet $1 "$2"
$2 
endsnippet$3
endsnippet

snippet t "the"
the 
endsnippet

snippet b "be"
be 
endsnippet

snippet o "to"
to 
endsnippet

snippet f "of"
of 
endsnippet

snippet an "and"
and 
endsnippet

snippet i "in"
in 
endsnippet

snippet h "that"
that 
endsnippet

snippet v "have"
have 
endsnippet

snippet i "it"
it 
endsnippet

snippet r "for"
for 
endsnippet

snippet ! "not"
not 
endsnippet

snippet n "on"
on 
endsnippet

